.auth_container{
    text-align:center;
    padding-top:48px;
}

.auth_title{
    font-weight:bold;
    font-size:35px;
    margin:20px 0;
}

.auth_form{
    display:flex;
    flex-direction:column;
    max-width:360px;
    margin:0 auto;
}

.auth_input {
    padding:18px;
    border-radius: 10px;
    margin-bottom:1.5rem;
    background-color: transparent;
    border: 1px solid #2f2f2f;
    color: #fff;
    font-size: 16px;
}

::placeholder {
    color: #fff;
    font-size: 16px;
}

.auth_btn{
    background-color:#22a8e7;
    color:#fff;
    border:none;
    height:47px;
    border-radius:10px;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    margin-bottom:1.5rem;
}

.auth_link{
    background-color:transparent;
    color:#22a8e7;
    padding: 15px 58px;
    font-size:14px;
    border-radius:10px;
    text-transform:uppercase;
}

.auth_input:hover{
    border-color:#22a8e7;
}

.auth_btn:hover{
    filter: brightness(80%)
}

.auth_link:hover{
    background-color:rgba(35, 169, 233,5.8%);
}