:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #0e1621;
  color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

body{
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
}

.logout_link{
  border: none;
  background-color:transparent;
  color:#22a8e7;
  padding: 5px 10px;
  margin-left: 5px;
  font-size:18px;
  border-radius:5px;
}

.logout_link:hover{
  background-color:rgba(35, 169, 233,5.8%);
}

.list-item:hover{
  background-color:rgba(35, 169, 233,5.8%);
}

input:focus {
  outline: 0;
  outline-offset: 0;
}
